<!--
#css/
#images/
-->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Christmas Greetings</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">



    <meta property="og:image" content="images/christmas_hat.png">



    <link rel="stylesheet" href="css/christmas_free_template_01.css">
    <script src='https://kit.fontawesome.com/3c0d91a51e.js'></script>
    <script src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">


  </head>
  <body>
    <section class="header">
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Greet Macha</a>
        <ul class="social-icons">
          <li><a class="facebook" href="https://www.facebook.com/GreetMacha-101335118528889"><i class="fa fa-facebook"></i></a></li>
          <li><a class="instagram" href="https://www.instagram.com/greetmacha/?hl=en"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </nav>
    </section>
    <section class="message">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 col-12 message-text">
            <h1>Merry Christmas</h1>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
               quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                 Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                  laborum."</p>
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 col-12">
            <img src="images/christmas_hat.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </section>
    <section style="">
        <img src="images/christmas_tree.png" alt="" class="img-fluid">
    </section>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5fd58543c75ab76d"></script>



  </body>
</html>
